/* Add a black background color to the top navigation */
.topbar {
  width: 100%;
  background-color: #2F4550;
height: 100px;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
float: left;
height: 100%;
background-color: #B8DBD9;
}

.vertical-menu a {
  background-color: #B8DBD9;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #586F7C;
}

.vertical-menu a.active {
  background-color: #586F7C;
  color: white;
}

body {
  background-color: #F4F4F1;
}
